@model IEnumerable<VehicleCRUD.MVC.ViewModels.VehicleMakeAndModelCount>

@{
    ViewBag.Title = "VehicleCRUD";
}

<h2>Vehicle make and model count</h2>

<table>
    <tr>
        <th style="padding: 15px">
            Vehicle make count
        </th>
        <th>
            Vehicle model count
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td style="text-align:center">
                @item.VehicleMakeCount
            </td>
            
            <td style="text-align:center">
                @item.VehicleModelCount
            </td>
        </tr>
    }
</table>